<mat-sidenav-container class="d-flex flex-md-column h-100" [hasBackdrop]="navigationOpened">
    <mat-sidenav
        [opened]="navigationOpened && !isInLogin"
        (openedChange)="navigationOpenedChange.emit($event)"
        [mode]="isMobileView ? 'over' : 'side'"
        [fixedInViewport]="isMobileView"
        fixedTopGap="56"
    >
        <mat-nav-list>
            <ng-container *ngFor="let button of buttons">
                <a mat-list-item *ngIf="!button.hidden" (click)="navigateTo(button)">
                    <mat-icon>{{ button.icon }}</mat-icon>
                    <span class="ml-3" *ngIf="!isMobileView">{{ button.name }}</span>
                </a>
            </ng-container>
            <a mat-list-item (click)="logoutService.signOut()">
                <mat-icon>logout</mat-icon>
                <span class="ml-3" *ngIf="!isMobileView">{{ 'Logout' | translate }}</span>
            </a>
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav
        [opened]="messagesOpened"
        (openedChange)="messagesOpenedChange.emit($event)"
        [mode]="isMobileView ? 'over' : 'side'"
        [fixedInViewport]="isMobileView"
        fixedTopGap="56"
        position="end"
        [class.mw-50]="!isMobileView"
    >
        <mat-nav-list class="d-flex flex-column">
            <span class="border-bottom text-prewrap p-3" mat-list-item *ngFor="let message of messagesService.messages">{{ message }}</span>
        </mat-nav-list>
    </mat-sidenav>

    <app-content>
        <ng-content></ng-content>
    </app-content>
</mat-sidenav-container>
