<mat-sidenav-container class="d-flex flex-md-column h-100" [hasBackdrop]="navigationOpened">
    <mat-sidenav
        [opened]="navigationOpened && !isInLogin"
        (openedChange)="navigationOpenedChange.emit($event)"
        [mode]="isMobileView ? 'over' : 'side'"
        [fixedInViewport]="isMobileView"
        fixedTopGap="56"
    >
        <mat-nav-list>
            <a mat-list-item *ngFor="let button of buttons" (click)="navigateToUrl(button.url)">
                <ng-container *ngIf="!button.hidden">
                    <mat-icon>{{ button.icon }}</mat-icon>
                    <span class="ml-3" *ngIf="!isMobileView">{{ button.name }}</span>
                </ng-container>
            </a>
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav
        [opened]="messagesOpened"
        (openedChange)="messagesOpenedChange.emit($event)"
        [mode]="isMobileView ? 'over' : 'side'"
        [fixedInViewport]="isMobileView"
        fixedTopGap="56"
        position="end"
    >
        <mat-nav-list class="d-flex flex-column">
            <span class="border-bottom text-prewrap p-3" mat-list-item *ngFor="let message of messagesService.messages">{{ message }}</span>
        </mat-nav-list>
    </mat-sidenav>

    <app-content>
        <ng-content></ng-content>
    </app-content>
</mat-sidenav-container>
