<mat-tab-group>
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon>play_arrow</mat-icon>
        </ng-template>
        <ng-template matTabContent>
            <app-play-queue></app-play-queue>
        </ng-template>
    </mat-tab>

    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon>playlist_play</mat-icon>
        </ng-template>
        <ng-template matTabContent>
            <app-play-queue-playlist></app-play-queue-playlist>
        </ng-template>
    </mat-tab>

    <!--<mat-tab>
        <ng-template mat-tab-label>
            <mat-icon>replay</mat-icon>
        </ng-template>
        <app-play-queue-playlist></app-play-queue-playlist>
    </mat-tab>-->

    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon>video_settings</mat-icon>
        </ng-template>
        <ng-template matTabContent>
            <app-audio-settings></app-audio-settings>
        </ng-template>
    </mat-tab>
</mat-tab-group>
