<div class="container flex-column p-0 m-0">
    <div class="d-flex">
        <mat-form-field class="flex-grow-1 flex-shrink-1">
            <mat-label>Youtube</mat-label>
            <input matInput [(ngModel)]="urlOrSearch" [placeholder]="'UrlOrSearch' | translate" />
        </mat-form-field>
    </div>
    <div class="d-flex flex-wrap">
        <button class="flex-shrink-0 mr-2" mat-button (click)="play()">{{ 'Play' | translate }}</button>
        <button class="flex-shrink-0 mr-2" mat-button (click)="queue()">{{ 'Queue' | translate }}</button>
        <button class="flex-shrink-0 mr-2" mat-button (click)="playlist()">{{ 'Playlist' | translate }}</button>
    </div>
</div>
