<mat-tab-group class="h-100" *ngIf="service.moduleDatas$ | async as moduleDatas" (selectedTabChange)="service.selectModule($event.tab.textLabel)">
    <mat-tab *ngFor="let moduleData of moduleDatas" [label]="moduleData.name">
        <ng-template matTabContent>
            <app-settings-page-container
                [canDisable]="moduleData.canDisable"
                [isActive]="moduleData.isActive"
                (isActiveChange)="service.setModuleActive(moduleData.name, $event, moduleData.canDisable)"
            ></app-settings-page-container>
        </ng-template>
    </mat-tab>
</mat-tab-group>
