<form class="setting-container" [formGroup]="formGroup">
    <mat-form-field>
        <mat-label>{{ 'Game' | translate }}</mat-label>
        <input matInput [formControlName]="'game'" />
    </mat-form-field>

    <mat-form-field>
        <mat-label>{{ 'Date' | translate }}</mat-label>
        <app-date-time-picker [formControlName]="'date'" [minDate]="minDate" [maxDate]="maxDate"></app-date-time-picker>
    </mat-form-field>

    <button class="one-line-button mw-50 align-self-baseline" type="submit" [disabled]="formGroup.invalid" (click)="service.createAnnouncement(formGroup)">
        {{ 'Send' | translate }}
    </button>
</form>
