<mat-toolbar color="primary">
    <button mat-icon-button *ngIf="(isInLogin$ | async) !== true" (click)="sidenavOpenedChange.emit(!sidenavOpened)"><mat-icon>menu</mat-icon></button>

    <mat-select
        *ngIf="guildSelectionService.guilds$ | async as guilds"
        class="ml-3 text-center"
        [value]="guildSelectionService.selectedGuildId$ | async"
        (selectionChange)="guildSelectionService.selectGuildId($event.value)"
    >
        <mat-option *ngFor="let guild of guilds" [value]="guild.id">{{ guild.name }}</mat-option>
    </mat-select>
</mat-toolbar>
